<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jixi.mapper.PickorderItemMapper">
  <resultMap id="BaseResultMap" type="com.jixi.pojo.PickorderItem">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="itemcode" jdbcType="VARCHAR" property="itemcode" />
    <result column="itemname" jdbcType="VARCHAR" property="itemname" />
    <result column="supplierName" jdbcType="VARCHAR" property="suppliername" />
    <result column="standard" jdbcType="VARCHAR" property="standard" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="brandName" jdbcType="VARCHAR" property="brandname" />
    <result column="packingSize" jdbcType="VARCHAR" property="packingsize" />
    <result column="chargeUnit" jdbcType="VARCHAR" property="chargeunit" />
    <result column="inprice" jdbcType="DOUBLE" property="inprice" />
    <result column="outprice" jdbcType="DOUBLE" property="outprice" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="sumprice" jdbcType="DOUBLE" property="sumprice" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="pickdate" jdbcType="TIMESTAMP" property="pickdate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, itemcode, itemname, supplierName, standard, model, brandName, packingSize, chargeUnit, 
    inprice, outprice, count, sumprice, remark, pickdate
  </sql>
  <select id="selectByExample" parameterType="com.jixi.pojo.PickorderItemExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pickorder_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pickorder_item
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectByItemcode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from pickorder_item
    where itemcode = #{itemcode,jdbcType=VARCHAR}
  </select>

  <select id="selectDistinctSupplier" resultMap="BaseResultMap">
    select distinct supplierName from pickorder_item
  </select>

  <select id="selectDistinctBrandName" resultMap="BaseResultMap">
    select distinct brandName from pickorder_item
  </select>

  <select id="selectDistinctItemCode" resultMap="BaseResultMap">
    select distinct itemcode from pickorder_item
  </select>

  <select id="like" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from pickorder_item
    <where>
      <if test="itemname!=null">
        and itemname like #{itemname,jdbcType=VARCHAR}
      </if>
      <if test="supplier!=null">
        and supplierName= #{supplier,jdbcType=VARCHAR}
      </if>
      <if test="brandname!=null">
        and brandName= #{brandname,jdbcType=VARCHAR}
      </if>
      <if test="itemcode!=null">
        and itemcode= #{itemcode,jdbcType=VARCHAR}
      </if>
      <if test="pickdateMin!=null ||pickdateMax!=null">
        and pickdate between #{pickdateMin,jdbcType=TIMESTAMP} and #{pickdateMax,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from pickorder_item
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jixi.pojo.PickorderItemExample">
    delete from pickorder_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jixi.pojo.PickorderItem">
    insert into pickorder_item (id, itemcode, itemname, 
      supplierName, standard, model, 
      brandName, packingSize, chargeUnit, 
      inprice, outprice, count, 
      sumprice, remark, pickdate
      )
    values (#{id,jdbcType=VARCHAR}, #{itemcode,jdbcType=VARCHAR}, #{itemname,jdbcType=VARCHAR}, 
      #{suppliername,jdbcType=VARCHAR}, #{standard,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, 
      #{brandname,jdbcType=VARCHAR}, #{packingsize,jdbcType=VARCHAR}, #{chargeunit,jdbcType=VARCHAR}, 
      #{inprice,jdbcType=DOUBLE}, #{outprice,jdbcType=DOUBLE}, #{count,jdbcType=INTEGER}, 
      #{sumprice,jdbcType=DOUBLE}, #{remark,jdbcType=VARCHAR}, #{pickdate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jixi.pojo.PickorderItem">
    insert into pickorder_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="itemcode != null">
        itemcode,
      </if>
      <if test="itemname != null">
        itemname,
      </if>
      <if test="suppliername != null">
        supplierName,
      </if>
      <if test="standard != null">
        standard,
      </if>
      <if test="model != null">
        model,
      </if>
      <if test="brandname != null">
        brandName,
      </if>
      <if test="packingsize != null">
        packingSize,
      </if>
      <if test="chargeunit != null">
        chargeUnit,
      </if>
      <if test="inprice != null">
        inprice,
      </if>
      <if test="outprice != null">
        outprice,
      </if>
      <if test="count != null">
        count,
      </if>
      <if test="sumprice != null">
        sumprice,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="pickdate != null">
        pickdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="itemcode != null">
        #{itemcode,jdbcType=VARCHAR},
      </if>
      <if test="itemname != null">
        #{itemname,jdbcType=VARCHAR},
      </if>
      <if test="suppliername != null">
        #{suppliername,jdbcType=VARCHAR},
      </if>
      <if test="standard != null">
        #{standard,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="brandname != null">
        #{brandname,jdbcType=VARCHAR},
      </if>
      <if test="packingsize != null">
        #{packingsize,jdbcType=VARCHAR},
      </if>
      <if test="chargeunit != null">
        #{chargeunit,jdbcType=VARCHAR},
      </if>
      <if test="inprice != null">
        #{inprice,jdbcType=DOUBLE},
      </if>
      <if test="outprice != null">
        #{outprice,jdbcType=DOUBLE},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="sumprice != null">
        #{sumprice,jdbcType=DOUBLE},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="pickdate != null">
        #{pickdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jixi.pojo.PickorderItemExample" resultType="java.lang.Long">
    select count(*) from pickorder_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pickorder_item
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.itemcode != null">
        itemcode = #{record.itemcode,jdbcType=VARCHAR},
      </if>
      <if test="record.itemname != null">
        itemname = #{record.itemname,jdbcType=VARCHAR},
      </if>
      <if test="record.suppliername != null">
        supplierName = #{record.suppliername,jdbcType=VARCHAR},
      </if>
      <if test="record.standard != null">
        standard = #{record.standard,jdbcType=VARCHAR},
      </if>
      <if test="record.model != null">
        model = #{record.model,jdbcType=VARCHAR},
      </if>
      <if test="record.brandname != null">
        brandName = #{record.brandname,jdbcType=VARCHAR},
      </if>
      <if test="record.packingsize != null">
        packingSize = #{record.packingsize,jdbcType=VARCHAR},
      </if>
      <if test="record.chargeunit != null">
        chargeUnit = #{record.chargeunit,jdbcType=VARCHAR},
      </if>
      <if test="record.inprice != null">
        inprice = #{record.inprice,jdbcType=DOUBLE},
      </if>
      <if test="record.outprice != null">
        outprice = #{record.outprice,jdbcType=DOUBLE},
      </if>
      <if test="record.count != null">
        count = #{record.count,jdbcType=INTEGER},
      </if>
      <if test="record.sumprice != null">
        sumprice = #{record.sumprice,jdbcType=DOUBLE},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.pickdate != null">
        pickdate = #{record.pickdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pickorder_item
    set id = #{record.id,jdbcType=VARCHAR},
      itemcode = #{record.itemcode,jdbcType=VARCHAR},
      itemname = #{record.itemname,jdbcType=VARCHAR},
      supplierName = #{record.suppliername,jdbcType=VARCHAR},
      standard = #{record.standard,jdbcType=VARCHAR},
      model = #{record.model,jdbcType=VARCHAR},
      brandName = #{record.brandname,jdbcType=VARCHAR},
      packingSize = #{record.packingsize,jdbcType=VARCHAR},
      chargeUnit = #{record.chargeunit,jdbcType=VARCHAR},
      inprice = #{record.inprice,jdbcType=DOUBLE},
      outprice = #{record.outprice,jdbcType=DOUBLE},
      count = #{record.count,jdbcType=INTEGER},
      sumprice = #{record.sumprice,jdbcType=DOUBLE},
      remark = #{record.remark,jdbcType=VARCHAR},
      pickdate = #{record.pickdate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jixi.pojo.PickorderItem">
    update pickorder_item
    <set>
      <if test="itemcode != null">
        itemcode = #{itemcode,jdbcType=VARCHAR},
      </if>
      <if test="itemname != null">
        itemname = #{itemname,jdbcType=VARCHAR},
      </if>
      <if test="suppliername != null">
        supplierName = #{suppliername,jdbcType=VARCHAR},
      </if>
      <if test="standard != null">
        standard = #{standard,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="brandname != null">
        brandName = #{brandname,jdbcType=VARCHAR},
      </if>
      <if test="packingsize != null">
        packingSize = #{packingsize,jdbcType=VARCHAR},
      </if>
      <if test="chargeunit != null">
        chargeUnit = #{chargeunit,jdbcType=VARCHAR},
      </if>
      <if test="inprice != null">
        inprice = #{inprice,jdbcType=DOUBLE},
      </if>
      <if test="outprice != null">
        outprice = #{outprice,jdbcType=DOUBLE},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="sumprice != null">
        sumprice = #{sumprice,jdbcType=DOUBLE},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="pickdate != null">
        pickdate = #{pickdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jixi.pojo.PickorderItem">
    update pickorder_item
    set itemcode = #{itemcode,jdbcType=VARCHAR},
      itemname = #{itemname,jdbcType=VARCHAR},
      supplierName = #{suppliername,jdbcType=VARCHAR},
      standard = #{standard,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      brandName = #{brandname,jdbcType=VARCHAR},
      packingSize = #{packingsize,jdbcType=VARCHAR},
      chargeUnit = #{chargeunit,jdbcType=VARCHAR},
      inprice = #{inprice,jdbcType=DOUBLE},
      outprice = #{outprice,jdbcType=DOUBLE},
      count = #{count,jdbcType=INTEGER},
      sumprice = #{sumprice,jdbcType=DOUBLE},
      remark = #{remark,jdbcType=VARCHAR},
      pickdate = #{pickdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>